<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Classroom for GitHub</title>

    <link rel="stylesheet" media="all" href="/css/home.css">
    <link rel="stylesheet" href="/vendor/bower_components/octicons/octicons/octicons.css">
</head>
  <body class="site pages home">

    <main>
      <header class="site-header">
  <div class="container">
    <a href="/"><img class="site-logo" alt="GitHub for Classrooms" src="/images/logo@2x.png"></a>

    <nav class="site-nav">
      <ul>
        <li>
          <a target="_blank" href="https://education.github.com">GitHub Education</a>
        </li>

          <li><a href="/login">Sign in</a></li>
      </ul>
    </nav>
  </div></header>

      <div class="signin-section">
  <div class="container text-center">
    <ul>
      <li><span class="mega-octicon octicon-book"></span></li>
      <li><span class="mega-octicon octicon-pencil"></span></li>
      <li><span class="mega-octicon octicon-mortar-board"></span></li>
      <li><span class="mega-octicon octicon-organization"></span></li>
      <li><span class="mega-octicon octicon-calendar"></span></li>
      <li><span class="mega-octicon octicon-comment-discussion"></span></li>
    </ul>

    <h1 class="heading">Login to Manage Your Account.</h1>
    <p class="subheading">Classroom for GitHub automates repository creation and access control, making it easy to distribute starter code and collect assignments on GitHub.</p>
   <div class="col-sm-8 col-sm-offset-2">
  <form method="POST">
    <input type="hidden" name="_csrf"/>
    <div class="form-group">
      <p>Enter your email address below and we will send you password reset instructions.</p>
      <label for="email" class="control-label">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" class="form-control"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i>Reset Password</button>
    </div>
  </form>
</div>
  </div>
</div>

<div class="information-section">
  <div class="container">
    <div class="columns">
      <div class="one-third column">
        <h2><span class="mega-octicon octicon-repo"></span> Create assignments</h2>
        <p>
          Distribute assignments with starter code. Students work on assignments individually or in groups using public or private GitHub repositories.
        </p>
      </div>

      <div class="one-third column">
        <h2><span class="mega-octicon octicon-organization"></span> Invite students</h2>
        <p>
          Students gain access to assignments using unique invitation URLs, eliminating the need to collect GitHub usernames in advance and manage access manually.
        </p>
      </div>

      <div class="one-third column">
        <h2><span class="mega-octicon octicon-graph"></span> Review progress</h2>
        <p>
          Teachers and teaching assistants can browse submissions by assignment, making it easy to follow along with student progress.
        </p>
      </div>
    </div>
  </div>
</div>

    </main>

    <footer class="site-footer text-center">
  <div class="container">
    <a href="https://education.github.com"><img height="26" class="made-by-logo" alt="Made by GitHub Education" src="/images/made_with_love@2x.png"></a>
  </div>
</footer>

  

</body></html>