    <footer class="site-footer text-center">
  <div class="container">
    <a href="https://education.github.com"><img height="26" class="made-by-logo" alt="Made by GitHub Education" src="/images/made_with_love@2x.png"></a>
  </div>
</footer>
