<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Classroomjs for GitHub</title>
  <link rel="stylesheet" media="all" href="/css/home.css">
  <link rel="stylesheet" href="/vendor/bower_components/octicons/octicons/octicons.css">
</head>
<body class="site pages home">
  <main>
  <header class="site-header">
    <div class="container">
      <a href="/"><img class="site-logo" alt="GitHub for Classrooms" src="/images/logo@2x.png"></a>
      <nav class="site-nav">
        <ul>
          <li>
            <a target="_blank" href="https://education.github.com">GitHub Education</a>
          </li>
          <li><a href="/login">Sign in</a></li>
        </ul>
      </nav>
    </div></header>
    <div class="site-content">
      <div class="container">
        <div class="site-content">
          <div class="site-content-cap">
            <h2 class="site-content-heading">New Classroom</h2>
          </div>
          <div class="site-content-body">
            <form class="new_organization" id="new_organization" action="/classroom/new" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_csrf" value="<%=_csrf%>">
            
            <dl class="form">
              <dt><label for="organization_title">Title</label></dt>
              <dd><input class="textfield" type="text" name="organization[title]" id="organization_title"></dd>
            </dl>
            <dl class="form">
              <dt><label for="organization_organization">Organization</label></dt>
              <dd>
              <select class="select" name="organization[github_id]" id="organization_github_id"><option value="organization_id">org1</option>
              <option value="organization_id">org2</option></select>
              </dd>
            </dl>
            <div class="form-actions">
              <input type="submit" name="commit" value="Add Organization" class="btn btn-green">
              <a class="btn" role="button" href="/classrooms">Cancel</a>
            </div>
          </form>  </div>
        </div>
        <div class="protip">
          <span class="octicon octicon-light-bulb"></span> <strong>ProTip!</strong> Don't see your organization? You need to <a target="_blank" href="https://github.com/settings/connections/applications/app-id">grant us access</a> first.
        </div>
      </div>
    </div>
    </main>
    
  </body></html>