<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Classroomjs for GitHub</title>
  <link rel="stylesheet" media="all" href="/css/home.css">
  <link rel="stylesheet" href="/vendor/bower_components/octicons/octicons/octicons.css">
</head>
<body class="site pages home">
  <main>
  <%- include ./../partials/header.ejs %>
  <%- include ./../partials/gbanner.ejs %>
    <div class="site-content">
      <div class="site-content-cap">
        <a class="btn btn-green right" role="button" href="/classroom/<%=classroom.title%>_<%=classroom.org_name%>/new-assignment">New assignment</a>
        <h2 class="site-content-heading">Assignments</h2>
      </div>
      <div class="site-content-body assignment-list-items">
        <div class="assignment-list-item flex-table">
          <div class="flex-table-item">
            <span class="assignment-icon assignment-icon-individual left">
              <span class="octicon octicon-person"></span>
            </span>
            <h3 class="assignment-name-link">
            <a class="js-navigation" href="/classrooms/classrooms-name/assignments/assignmentname">assignment101</a>
            </h3>
            <p class="assignment-type text-muted">Individual assigment</p>
          </div>
          <div class="flex-table-item zeroclipboard-form">
            <div class="input-group assignment-invite-link">
              <input type="text" id="assignment_id" class="js-url-field" value="https://classroom.github.com/assignment-invitations/assignment_id" readonly="readonly">
              <span class="input-group-button">
                <button aria-label="Copy to clipboard" id="assignment_id" class="js-zeroclipboard btn disabled" data-copied-hint="Copied!" type="button">
                <span class="octicon octicon-clippy"></span>
                Copy invitation link
                </button>
              </span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </main>
    
  </body></html>
